<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Mi Tarjeta</title>
</head>
<body>
    <div>
        <h1 class="text-3xl bg-red-500 text-center mt-7 mb-7"> Buenas! me llamo Nicolas Vargas</h1>
        <p>te presento a mi: perro</p>
        <p>tiene un poco de hambre</p>
        <img src="https://qph.fs.quoracdn.net/main-qimg-966b490693d49992e3563140812e69df-lq">
    </div>
</body>
</html>